[2015-07-31 15:58] aqafiam opened #1 "Support snipet endpoint"
- ref: <https://confluence.atlassian.com/display/BITBUCKET/snippets+Endpoint>

[2015-07-31 15:58] ktrysmt opened #2 "Error handling"

[2015-07-31 16:00] aqafiam opened #3 "Make test codes enough"

[2015-08-05 02:25] ktrysmt opened #4 "Create funcs that options is to check whether it is required"

[2017-01-23 13:00] petemounce opened #6 "Support BitBucket Server"
I can see that the `API_BASE_URI` is a constant. Would you accept a PR to make that a parameter, so that BitBucket Server can become supported?

[2017-01-23 13:27] ktrysmt commented on #6
Hi @petemounce, thank you for your issue. I will try to fix it.

[2017-01-24 10:49] #6 closed

[2017-01-31 15:36] #4 closed

[2017-01-31 15:39] ktrysmt opened #8 "NOTICE[Destructive Change] / Modernize some API interfaces and use dependency management tool."
- Use dep
- Rename some option-structure elements.
- And refactoring, any other.

[2017-02-02 02:03] petemounce opened #10 "Support BitBucket Server api v1.0"
I discovered that BitBucket Server does not support the v2.0 API that bitbucket.org does.

One could add this via 1-suffixed functions, for example on PullRequests:
[code]

Or one could make a new struct, like `PullRequests1` and inject that into the client, so `client.Repositories.PullRequests1.Blah(...)` would be the calling code.

Or I think it would be possible to parameterise which API versio

[2017-02-02 10:27] ktrysmt commented on #10
I think so too but I did not know whether that Bitbucket Server use V1 interfaces still.
I'm going to survey that and consider how to switch the versions of 1 and 2.

[2017-02-02 10:54] petemounce commented on #10
It definitely does use them :(

At any rate, its API browser does not list v2. Possible to check via Atlassian sdk; that allows an instance to be spun up locally.

[2017-02-02 12:51] ktrysmt commented on #10
Oops. but thank you for your information.
I will try to read docs or codes. I wish we had BitbucketServer's API sandbox/browser..

[2017-02-02 12:56] petemounce commented on #10
I had to create a plugin recently and used https://developer.atlassian.com/docs/getting-started/set-up-the-atlassian-plugin-sdk-and-build-a-project. I was able to test against the API there fine.

[2017-02-02 13:04] ktrysmt commented on #10
Oh looked closely, it is need to use jdk, it's heavy :cry: .
But It looks like I can test it for checking behaviors.

[2017-02-02 16:53] #8 closed

[2017-02-02 16:54] ktrysmt commented on #1
Today, Bitbucket cloud implement new feature about Pipeline...

[2017-02-02 17:50] petemounce commented on #10
Atlassian say it's in their issue tracker, but shelved; https://twitter.com/ddbennett/status/827195762530357248.

[2017-02-07 10:50] petemounce commented on #10
I'm doing some work on this internally, and will PR it once I'm through.

[2017-02-11 20:39] shackra opened #11 "LICENSE"
I did a fork of this project and I was wondering which license are you using, I used [swagger](https://github.com/swagger-api/swagger-codegen) to generated all data structures from [Bitbucket swagger definition](https://api.bitbucket.org/swagger.json) and the generated code is under the Apache License 2.0 so hopefully your license is compatible with it.

I'm thinking on licensing my changes to LGP

[2017-02-12 04:25] ktrysmt commented on #11
Thank you for your info. I will change the license from MIT to Apache 2.0 more stringent.

[2017-02-12 04:50] #11 closed

[2017-02-12 04:50] ktrysmt commented on #11
Done.

[2017-03-07 15:36] #2 closed

[2017-03-17 13:36] craigmonson opened #15 "Panic for Create BranchRestrictions."
Don't have time to log a PR at the moment, but figured I'd log it just in case I can't get to it:

Running a create on branch restrictions, where the user or group is empty causes the server to respond with a bad request "users malformed".  It's because it's expecting a list, not a key-value hash.  However, when I add an empty user it panics.  I was able to get around this by applying the diff bel

[2017-03-17 13:59] ktrysmt commented on #15
Thank you for your patch, I will check and then add a test for that.

[2017-03-18 08:21] #15 closed

[2017-03-18 08:25] ktrysmt commented on #15
@craigmonson, I did fix the bug. Please check that behavior.
Also I putout the testcode about branchrestrictions, refer to it.
https://github.com/ktrysmt/go-bitbucket/blob/master/tests/branchrestrictions_test.go

[2017-03-30 16:28] tzaffi opened #17 "Support pagination"
The bitbucket API provides paginated output but this repo doesn't handle it. Consequently, result sets are limited to the first page only and for large responses the result set is incomplete.

In particular, the parser will need to handle the following values in the bitbucket's JSON response:

* next
* page
* pagelen
* previous

[2017-03-31 06:45] ktrysmt commented on #17
Bitbucket API alway returns these pagination datas as JSON response, I understand.
But to be sure, Request creation functions does not have logics to manage paginations.
I will try implement it, also write tests to guarantee it.

[2017-03-31 07:08] tzaffi commented on #17
Thanks! I may also try to do my bit. If I make progress I will make a pull request.

[2017-04-27 20:11] josead opened #19 "Support Commit Statuses"
Hello guys,
I found that Commits.go has not support for the following API endpoint...
I wander if this issue can be addressed.

https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses

I can provide a PR for this, but I'd wait for you guys to accept it :)
BTW: This would be my first contribution to open source commun

[2017-04-28 06:31] ktrysmt commented on #19
Thank you for your contrib.
I will check it.

[2017-05-12 10:55] mainiak opened #21 "Support OAuth 2.0"
Despite there is [bitbucket.NewOAuth()](https://godoc.org/github.com/ktrysmt/go-bitbucket#NewOAuth) method, it is NOT actually implemented.

Specification can be found [here](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html)

[2017-05-12 16:36] mainiak commented on #17
Hello.

Please see my crude implementation of pagination in pull request #22

[2017-05-14 08:37] #17 closed

[2017-05-14 08:41] ktrysmt commented on #21
That's right.
I will make it while reading the spec.

[2017-05-26 19:09] brunomdev commented on #21
+1

[2017-07-07 16:56] #19 closed

[2017-08-25 17:19] ktrysmt opened #24 "Try generate api client from bitbucket api by swagger ..."
## Install swagger

[code]

## Try it

[code]

## Log

[code]

Oops,

[code]

Also generate client was failed.

Seems that have to fix some errors, but the json content is so huge(473kb).

[2017-08-25 17:20] ktrysmt commented on #24
swagger.json is [here](https://api.bitbucket.org/swagger.json)

[2017-08-25 17:39] ktrysmt opened #25 "How to refer API documents"
## bitbucket server (1.0) api reference
* Rest Api browser/explorer
  * <https://developer.atlassian.com/docs/developer-tools/using-the-rest-api-browser>
  * I think it would be used as one of a number of jira-addons in bitbucket server
* Documentation (5.3 maybe)
  * <https://developer.atlassian.com/static/rest/bitbucket-server/5.3.1/bitbucket-rest.html>
  * <https://developer.atlassian.com/bitbu

[2017-11-16 07:26] zenixls2 opened #29 "diff api response is not json"
https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/diff/%7Bspec%7D

if the statusCode == 200, you should treat it as plain text, not json.
otherwise
https://github.com/ktrysmt/go-bitbucket/blob/master/client.go#L110
would return error, and cause the function fail.
(you might have to do some check on the resBodyBytes that it starts with `"

[2017-11-16 12:36] ktrysmt commented on #29
Thank you for your report. I will fix it.

[2018-02-27 15:54] srgrn commented on #21
in #31 i have added a simple offline oauth2 implementation

[2018-02-28 09:54] ktrysmt commented on #21
Thank you for your contribution! I will review it.

[2018-03-03 21:51] srgrn commented on #24
see https://github.com/srgrn/bitbucket-api
I was able to use swagger-codegen after removing 3 lines relating to:

it can be seen that it is not the most comfortable client, however it does seem to work.

[2018-03-21 04:18] stobias123 opened #32 "Result must be addressable (a pointer)"
If this is a noob mistake I apologize, I've asked around on slack/IRC and can't seem to figure out what I'm doing wrong here... Other people seemed stumped too.

I copied your test case for repos and get the following error..

[code]

[code]

I'm on go 1.10.

[2018-03-25 04:46] ktrysmt commented on #32
Oops, I did not tested on v1.10, and I will.
Thank you for your issue.

[2018-06-20 17:56] toneill818 opened #34 "Log Imported Twice"
After PR #28 log was imported twice causing the build to fail.

[2018-06-24 05:34] #34 closed

[2018-07-20 17:57] ktrysmt opened #38 "Add pullrequest state at the option"
https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/pullrequests#get

## Query parameters
|Name	|Type	|Description|
| --- | --- | --- |
|state	|string	|Only return pull requests that are in this state. This parameter can be repeated.|
### Values
* MERGED
* SUPERSEDED
* OPEN
* DECLINED

[2018-07-21 06:23] ktrysmt opened #39 "swagger generate failed."
[code]

[2018-07-21 06:30] ktrysmt commented on #39
Input
[code]
Output
[code]

I am missing something. :disappointed:

[2018-07-21 14:46] #39 closed

[2018-07-21 14:47] #21 closed

[2018-07-21 14:48] ktrysmt commented on #25
Posted that to readme already.

[2018-07-21 14:48] #25 closed

[2018-07-21 17:41] ktrysmt commented on #24
You are right, it is not confortable...
It took me a while to understand. But it seems to be usable. Thank you.

[2018-07-21 17:43] ktrysmt commented on #24
And then it is not to need remove lines from source,

swagger-codegen 2.3.1 generated codes that seemed correct.

[2018-08-03 15:20] uggla opened #41 "Add auth via apikey"
Hello,

Thanks for go-bitbucket library, this is really helpful for us.
As a feature request, could you add authentication via apikey ?

[2018-08-03 16:07] ktrysmt commented on #41
Hi, thank you for your comment.

Let me see... Is that said about it?

[code]

[2018-08-06 20:16] uggla commented on #41
@ktrysmt , nope it seems not working using above line.
[code]

[2018-08-08 03:27] ktrysmt commented on #41
I know that require the header of "Authorization: Bearer YOUR_ACCESS_TOKEN" in HTTP HEADER.
I will add new feature of switch flag in the code.

[2018-08-08 03:42] #41 closed

[2018-08-08 03:44] ktrysmt commented on #41
I seem it was fixed.

Would you try the new authorization method;

[code]

[2018-08-08 03:47] ktrysmt commented on #41
If you still have problems, please reopen the issue. Thank you.

[2018-08-08 05:35] lou-lan opened #44 "Support enterprise edition"

[2018-08-09 09:31] uggla commented on #41
Hello @ktrysmt ,
Unfortunately this is still not working.
[code]

BTW, I cannot reopen this issue. I think this action can only be done by yourself.
So I have just commented this request, but I could open a new one if you wish.

[2018-08-09 12:34] uggla opened #45 "Question about repositories.ListForAccount()"
Hello @ktrysmt ,

A question about repositories.ListForAccount() method.
Is it normal that this method is returning an interface{} ?
_Note_ : I would expect to have a []string with repo names.

Maybe it is because this method is not finalized ? Any other reasons ?

In order to get the list of repo names, I did the following ugly code (just for testing). But maybe there is another smart way or magi

[2018-08-09 15:20] ktrysmt commented on #41
@uggla That’s sounds good. Don’t worry about that.

Thanks to you I was able to know about OAuth Bearer Token.

Also please post the issue if there is something.

[2018-08-10 05:44] ktrysmt commented on #45
@uggla Perhaps this might be useful.

* https://godoc.org/github.com/jeremywohl/flatten

[2018-08-10 08:36] uggla commented on #45
@ktrysmt thx. In fact the underlying question is will you accept PR that will change the behavior of these methods ? If yes we (@Xx-Parks-xX and I) will open a couple of PRs.

[2018-08-10 12:32] ktrysmt commented on #45
@uggla Basically PR is welcomed. If there are any points to worry about, we can discuss it at that time.

[2018-09-05 09:49] ternblom opened #52 "Create Branch & Push"
Hello,

Is there a way to create a new branch using this library¿? and after make some changes, make a push ¿?

I already check and it is possible to commit but can't find how to do what I have been mentioned before.

Regards

[2018-09-06 11:01] ktrysmt commented on #52
Hi, thank you for your contribution. @ternblom

'go-bitbucket' is a small project. Therefore, there are no particular contribution rules. So you do not mind having them. You would send pull requests directly.

Would I tell you how to use github...

At first you would fork from "ktrysmt/go-bitbucket" to "ternblom/go-bitbucket".
Next commit your codes to "ternblom/go-bitbucket" with any branch name,

[2018-09-13 21:15] jasmineustc opened #53 "Is this the official golang library for BitBucket API?"
Hi team,
I'm interested in the Bitbucket API and would like to build an application based on BitBucket.
Just want to ask is this repository the official library maintained by BitBucket development team?

Thanks.

[2018-09-15 09:59] ktrysmt commented on #53
@jasmineustc
This repository is not officially managed by BitBucket team.

[2018-09-15 09:59] #53 closed

[2018-10-19 17:40] smehtaca opened #54 "buildPullRequestBody panics when attempting to build reviewers map"
Hello,
Ran into a bug when attempting to update a pull request's reviewers.

**Description**

The buildPullRequestBody function has a panic while attempting to build a map for the reviewers for the body of the payload. This error occurs due to the way type assertion is used on line 96 of pull requests.go.

Currently the code for building the reviewers map is as follows:
[code]

**Resolution**

I m

[2018-10-22 10:49] ktrysmt commented on #54
Hi, @smehtaca. Thank you for report it.

It would maybe wrong type assertion like you showed.
Could you like to create the pull request for it?

[2018-10-23 18:14] smehtaca commented on #54
Hi @ktrysmt,

My apologies, I had assumed the panic was caused by the type assertion. However, after further debugging it turns out the code was correct in the first place and looked faulty to my novice eyes. I can't seem to replicate the scenario that caused the panic so I will close this issue.

Once again, my apologies.

[2018-10-23 18:14] #54 closed

[2018-10-24 09:59] ktrysmt commented on #54
@smehtaca
I understood, don't worry about it. And I could not take the time to debug, so I am sorry too.

[2019-01-10 16:43] soupdiver opened #56 "Missing error check leads to loss of error messages"
See: https://github.com/ktrysmt/go-bitbucket/blob/master/client.go#L150
The returned `err` is never checked.

Execution continues in error case and error information are lost.

[2019-01-21 11:04] ktrysmt commented on #56
@soupdiver
If returned `err` in the `execute()`, the caller object (e.x: repository.go#L89) will get `err` as the second argument.
And returned objects are checked immediately.

https://github.com/ktrysmt/go-bitbucket/blob/master/repository.go#L89-L92

If there is still something wrong, please teach me that. m(_ _)m

[2019-01-21 11:10] soupdiver commented on #56
@ktrysmt The link is wrong since master has been updated.
https://github.com/ktrysmt/go-bitbucket/blob/master/client.go#L169

[code]

The `err` returned by `doRequest` is not handled

[2019-01-21 12:02] ktrysmt commented on #56
Oh, I see, and understand it. I will fix it. Thank you. @soupdiver

[2019-01-22 04:08] #56 closed

[2019-05-04 16:05] mjpitz opened #57 "Add pagination support for Repositories.ListForAccount and Repositories.ListForTeam"
I see there was some pagination support added in https://github.com/ktrysmt/go-bitbucket/pull/22

Ideally these call sites should allow for pagination to be passed in through the call.

I'll throw something together really quick and get it up for review.

[2019-05-04 16:11] mjpitz commented on #57
Submitted a quick PR for this. Working on running unit tests.

[2019-05-04 16:23] mjpitz commented on #57
Verified this is working as expected. Open to any feedback.

[2019-05-04 16:26] mjpitz commented on #57
Reference Implementation: https://github.com/mjpitz/rds/pull/5/files#diff-9e8fcd01c228547769a45e2544f0b1b2R39

[2019-05-16 17:16] mjpitz commented on #57
@ktrysmt : any chance we can get this merged?

[2019-05-21 10:32] msphn opened #59 "API for refs would be great"
https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/refs/branches

[2019-05-29 13:02] ktrysmt commented on #57
Sorry for the delay in noticing about this issue.
thank you for your contribution!

[2019-05-29 13:06] ktrysmt commented on #57
If you have any other, please comment it here. @mjpitz

[2019-05-29 13:06] #57 closed

[2019-05-29 13:06] #52 closed

[2019-05-29 13:07] ktrysmt commented on #59
Thank you post it. I'll think about it.

[2019-05-29 17:13] msphn commented on #59
Thinking about contributing it, let you know in case I start!

[2019-05-31 09:16] davidji99 opened #60 "You might want to revert PR (#58)"
https://github.com/ktrysmt/go-bitbucket/pull/58 was rebased against my fork's `master` branch so it picked up a ton of potentially breaking changes rather than just having @mjpitz changes:
![Screen Shot 2019-05-31 at 18 13 01](https://user-images.githubusercontent.com/3991975/58695209-bfbfd580-83cf-11e9-9447-7073fa6014cd.png)

I suggest your revert (#58) from your repository and ask @mjpitz (if sh

[2019-05-31 09:18] davidji99 commented on #60
Also, your `master` branch's `README.md now points to my fork as a result of that PR merge.

[2019-05-31 17:50] mjpitz commented on #60
+1 to reverting my changes. I don't mind cherry picking them for this project if needed.

[2019-06-11 03:53] ktrysmt commented on #60
Oops, thx. I understood, I will do it. @davidji99

[2019-06-11 04:01] ktrysmt commented on #60
done! https://github.com/ktrysmt/go-bitbucket/pull/61

[2019-06-11 05:34] davidji99 commented on #60
👍

[2019-06-11 05:34] #60 closed

[2019-07-10 15:26] charl commented on #38
Created https://github.com/ktrysmt/go-bitbucket/pull/62 as a stab at adding this.

[2019-07-10 15:32] charl opened #63 "Add querying/filtering"
This is somewhat related to https://github.com/ktrysmt/go-bitbucket/issues/38.

Having [querying/filtering](https://developer.atlassian.com/bitbucket/api/2/reference/meta/filtering) options (in my case specifically for pull requests) would be useful.

[2019-07-11 09:32] ktrysmt commented on #38
Thank you for your contribution! I will check it soon.

[2019-07-11 11:59] charl commented on #63
Looked into this.

It's going to be a lot of work for someone to add generalised querying/filtering to this lib.

I'm going to add something specific for my needs to https://github.com/charl/go-bitbucket.

Feel free to backlog/close this one.

[2019-07-12 08:06] charl commented on #63
In my [implementation](https://github.com/charl/go-bitbucket/blob/master/pullrequests.go#L27) of this I chose to push the assembly of the query/sort string on to the consumer of this lib.

[2019-07-19 12:58] ktrysmt commented on #63
Fixed it by https://github.com/ktrysmt/go-bitbucket/commit/85aa0d8f96e2f8495fd32e95d8dea3b116dcd798.

[2019-07-19 12:58] #63 closed

[2019-07-20 05:53] #38 closed

[2019-07-20 21:05] krismorte opened #64 "Create a repository"
I'm trying to create a repository witrh this lib but I got errors, theres an example?

[2019-07-21 05:43] ktrysmt commented on #64
@krismorte  There is the example code to create new repository;

[code]

[2019-07-21 15:44] krismorte commented on #64
Thanks, It's really works

I review my own code and could make run

[code]

Thanks

[2019-07-21 15:44] #64 closed

[2019-08-28 07:42] ktrysmt opened #71 "Use json.NewDecoder instead of json.Unmarshal."

[2019-09-19 15:19] lee5i3 opened #74 "Branch Restrictions"
Would like support to manage branch restrictions

https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Busername%7D/%7Brepo_slug%7D/branch-restrictions

[2019-09-19 15:24] lee5i3 commented on #74
nevermind, found it.. thought it would it be in the repository.go

[2019-09-19 15:24] #74 closed

[2019-10-31 05:32] ktrysmt opened #78 "Migrate dep to go modules."

[2019-11-11 15:20] sj14 opened #79 "Thread Safety of `apiBaseURL`"
Thanks for your work on this library. I'm currently examining it and saw that `apiBaseURL` is a global variable. When I get this right, it's not possible to use this library with different Base URLs concurrently?

[2019-11-13 08:44] #79 closed

[2019-12-04 15:44] antegulin commented on #78
+1

[2020-01-19 08:49] Vicky000 opened #82 "json.Unmarshal() throws error while GetDiff() between 2 commits of 2 branches"
While I call GetDiff() to get diff of 2 branches, I fed it with a `&DiffOptions{Owner:"myOwner", RepoSlug:"myRepo", Spec: "364bb0..7cfdc3"} `
, 364bb0 is the last commitId of branch1 and 7cfdc3 is the last commitId of branch2. [Refer to the usage of {spec} in atlassian doc [https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/diff/%7Bspec%

[2020-01-19 09:17] Vicky000 commented on #82
Sorry, close this issue, byte is the alias for uint8, the error above was my bad.

[2020-01-19 09:33] Vicky000 commented on #82
this issue should be duplicated with #29.

[2020-01-20 14:06] ktrysmt commented on #82
Oops sorry I will check it asap. @Vicky000

[2020-01-21 06:46] #78 closed

[2020-01-21 07:42] ktrysmt commented on #82
I fixed by https://github.com/ktrysmt/go-bitbucket/pull/84.

Please see the sample(test) code: https://github.com/ktrysmt/go-bitbucket/blob/master/tests/diff_test.go#L28-L37

[2020-01-21 07:43] #82 closed

[2020-01-21 07:43] #29 closed

[2020-03-11 19:52] Trane9991 opened #87 "Posting PR comments"
I found the code for reading comments, however, I couldn't find functionality for posting comments.
Is it planned?

Thanks!

[2020-03-12 03:18] ktrysmt commented on #87
I see. It was not planned until now, I will do it in future.

[2020-07-22 10:57] theamanraj opened #92 "ListBranches function in repository.go file is throwing error."
![image](https://user-images.githubusercontent.com/33025632/88168420-0574d880-cc38-11ea-9873-0a6d6403016d.png)

Probably error is due to "decodeRepositoryBranches" function.

[2020-07-22 17:59] ktrysmt commented on #92
I see then I'll try checking.

[2020-07-31 07:47] #92 closed

[2020-08-06 06:40] SeanM93 opened #94 "ListTags function in repository.go is throwing error"
Looks to be an identical bug to #92
[code]

[2020-08-06 10:43] ktrysmt commented on #94
Thanks a lot.
I've merged and released it. https://github.com/ktrysmt/go-bitbucket/releases/tag/v0.6.4

[2020-08-06 10:43] #94 closed

[2020-08-06 11:22] SeanM93 commented on #94
No worries :) Thanks for the quick turnaround on a new release

[2020-08-16 12:21] ktrysmt opened #96 "Regenerate via Swagger"
origin: https://bitbucket.org/api/swagger.json

[2020-08-16 13:10] ktrysmt commented on #96
tool: https://editor.swagger.io/

the errors outputed..
![スクリーンショット 2020-08-16 22 09](https://user-images.githubusercontent.com/6156742/90335104-2f3dd700-e00d-11ea-836b-566cd9ff96c5.png)

That's too bad.

Detail is below;

[code]

[2020-08-16 13:15] ktrysmt commented on #24
It is old topics. I checked it again and there were occourred errors more and more..
https://github.com/ktrysmt/go-bitbucket/issues/96

[2020-08-16 13:15] #24 closed

[2020-10-25 12:05] paranoidd opened #99 "ListTags in repository.go throws SIGSEGV panic"
Hello!

First of all, thank you very much for your work!

I would like to note that I am a golang noob, and hopefully it is just me not understanding something :-)

I am trying to list all the repository tags for a given repo. Here's the code snippet I wrote for that:

[code]

Execution fails with the following error:
[code]

I am running `go version go1.15 darwin/amd64`

Is there anything I am do

[2020-10-27 03:13] ktrysmt commented on #99
Hmm, let me check. I will try that.
Thank you for your reporting.  @paranoidd

[2020-10-27 03:46] ktrysmt commented on #99
I tried a sample code and it seems to work.
So please check the code uploaded along with go-version.

version: `go version go1.15.3 darwin/amd64`
code: https://github.com/ktrysmt/go-bitbucket/blob/master/tests/list_test.go

[2020-10-27 09:48] paranoidd commented on #99
Hey @ktrysmt, thank you for your reply!

I am sorry if this is a noob question, but in the test you've linked, I do not see `ListTags` method being called. The `ListForAccount` method from `Repositories` works as expected, however when calling `log.Println(repos.Items[i].ListTags(tagOpt))` it gives the panic which I listed in the initial message.

I've upgraded the go version to the same as yours

[2020-10-27 12:09] ktrysmt commented on #99
Oh I see. I will do try-and-error again. Thank you. @paranoidd

[2020-10-27 13:11] ktrysmt commented on #99
I have updated the sample code to test ListTags. Please check it. @paranoidd
https://github.com/ktrysmt/go-bitbucket/blob/master/tests/list_test.go

[2020-10-27 13:28] ktrysmt commented on #99
`c : Client` has a query request generator. Use it each time you call the client for each API request.

[2020-10-27 13:31] paranoidd commented on #99
This was the part I was missing, got it all running.

Thank you for your help and patience!

[2020-10-27 13:31] #99 closed

[2020-10-31 17:10] craftamap commented on #96
so, basically the swagger.json of atlassian is invalid. However, you are still possible to click `generate client` at the top.

[2020-11-02 03:20] ktrysmt commented on #96
Oh, thank you for the info. Let me check...

[2020-12-26 01:29] ebh opened #111 "Error when running tests"
**Steps to reproduce**

1. Cloned repo to my local machine
2. Set the values for and run:
[code]
3. Run `make test`

**Expected outcome**

* All tests passed

**Actual outcome**

[code]

**Further investigation**

I run the tests individually:

* `go test -v ./tests/branchrestrictions_test.go` - FAIL
* `go test -v ./tests/client_test.go` - PASS
* `go test -v ./tests/diff_test.go` - FAIL
* `go test

[2020-12-26 12:15] ktrysmt commented on #111
Thank you for your report. I am going to do it.

[2020-12-27 01:17] ebh commented on #111
I actually had a bit of a go at adding Github Actions, see #112.

[2020-12-31 19:52] sl4mmy commented on #111
FWIW I ran into the same issue locally.  It's not obvious from the error, unfortunately, but the root cause is that BitBucket's API returns an error result when you try to create a branch restriction that already exists.  In other words, that test is not idempotent and cannot be run successfully more than once in it's current state.

I believe there are several separate but related issues that we

[2021-01-01 14:49] ktrysmt commented on #111
I see. Some test cases are not repeatable.

As I mentioned [here](https://github.com/ktrysmt/go-bitbucket/pull/112#issuecomment-751431820), making unit tests and making mock is a heavy task for us.

[2021-01-04 05:45] ebh commented on #111
I would like to repeat my offer to do a lot of the grunt work. I have the time this month but will not have as much time come February. The only thing blocking me from getting started is you mentioned you wanted to think about the strategy first.

[2021-01-04 13:44] ktrysmt commented on #96
[code]
or use swagger-go.

[2021-01-05 06:27] ktrysmt commented on #111
As I said [here](https://github.com/ktrysmt/go-bitbucket/issues/111#issuecomment-753325476), full-scratching api mocks is heavy to maintaine for us, I think. But of course I think quality control is important.

By the way, I want to try to suggest to use swagger.yaml for launching a mock server to do integration test locally.

e.g. via https://github.com/ktrysmt/go-bitbucket/issues/96#issuecomment

[2021-01-05 11:51] ebh commented on #111
I've never used Prism before but based on a 5-second read of their website it looks pretty cool :)

Let me have a play and see if I can write one test and get that running as part of CI using Github Actions. If I'm successful I'll raise a PR for you to review. If I'm not successful I'll come back to you for help :)

Note: Might be a couple of days until I get back to you :)

[2021-01-05 13:47] ktrysmt commented on #111
That sounds like a good. Also It will be helpful for me as well.

[2021-01-25 05:41] #111 closed

[2021-01-26 01:19] ebh commented on #96
I've been really struggling with this 😞

The test in `user_test.go` works as you know. But I've not been able to work out how to get any of the tests in the other files working. Let me list through what I've found.

* `branchrestrictions_test.go` - Prism exposes the endpoint `http://0.0.0.0:4010/repositories/aut/saepe/branch-restrictions` but I cannot work out how to generate a body that Prism wil

[2021-02-04 04:29] ebh commented on #96
Just an update on this. Bitbucket Support have been back in contact with me. They are actively working on the validation errors in OpenAPI (Swagger) documentation (`https://bitbucket.org/api/swagger.json`). They have already fixed a number of issues but there are multiple teams involved and so it is taking some time to fix them all. But it is encouraging that they actively working on it, and it is

[2021-02-17 07:32] ebh commented on #96
Bitbucket Support has provided the following update:

I've marked the BB issue as "This affects my team" as requested and included a comment on the BB issue linking back to this one.

[2021-02-17 08:02] ktrysmt commented on #96
Thanks a lot! @ebh

[2021-03-23 20:03] particleflux opened #125 "Project management"
Seems like there is nothing for bitbucket project endpoints yet.

A complete CRUD would be nice :)

[2021-03-27 11:55] twopelu opened #127 "Error when calling Repository.ListFiles"
Hello,

I'm trying to list files in my BitBucket repository but I get an error.

My module setup is:

[code]

Tes test code is as follows:

_(just change the "my" variables for the user, pass, owner, repo, etc.)_

[code]

The error happens in the line:

[code]

I have checked that the options and the url are ok, and also that it works when called from the browser:

https://github.com/ktrysmt/go-bi

[2021-03-31 09:41] ktrysmt commented on #125
I see, I'll plan about project-api.

[2021-03-31 09:42] ktrysmt commented on #127
Hmm, I will check the behavior. 🤔

[2021-03-31 11:25] twopelu commented on #127
Many thanks, just let me know if you need more info to reproduce the issue please.

[2021-04-11 16:14] btsteve commented on #87
I was just looking for the same thing.

[2021-04-21 03:12] maikeffi opened #130 "400 Bad Request when setting branch permissions using groups"
When setting branch permissions am passing `map[string]string{"admin": "administrator", "dev": "developer"}` as the `BranchRestrictionsOptions.Groups` value . It throws an error `400 Bad Request` and sets the permission group to `Everybody`

[2021-04-21 03:19] maikeffi commented on #130
Why are we passing a `map` and not a array of strings like `Users`  the  `buildBranchRestrictionsBody` in `BranchRestrictions.Create`  does not use the key value of the maps . Another Observation was `branchRestrictionsBodyGroup` uses the field `Name`  When i used `slug` manually adding the restriction it seemed to work

` "groups":[
       {
          "slug":"developers"
       },
       {

[2021-04-21 14:11] ktrysmt commented on #130
Oh. Surely I created the struct and method. But, maybe the rules of Atlassian's bitbucket api have changed over the years.

[2021-06-07 21:56] derekpovah opened #133 "Add support for Issues"

[2021-06-11 01:46] #133 closed

[2021-06-21 09:24] sguillia opened #139 "c.apiBaseURL.GetApiHostnameURL undefined"
Hi

Last commit breaks the build
https://github.com/ktrysmt/go-bitbucket/commit/5bccfc34d2f386df19dcd80a149cf693cbb53d8f

[code]

[2021-06-22 02:10] ktrysmt commented on #139
Oops, I reverted.

[2021-06-22 07:44] DataDavD opened #142 "GetDiffStat func"
Hey @ktrysmt is that fine if I work on adding a `GetDiffStat` func for Diff?

Thanks,
dd

[2021-06-23 13:16] ktrysmt commented on #142
That's sounds good, would you show me the proof of concept?

[2021-06-24 02:53] ktrysmt commented on #139
Fixed. https://github.com/ktrysmt/go-bitbucket/pull/141

[2021-06-24 02:53] #139 closed

[2021-06-24 02:57] DataDavD commented on #142
yea no problem, I kinda prototyped it out in this branch https://github.com/DataDavD/go-bitbucket/tree/add-git-diff-to-resolve-issue-142

[2021-06-26 11:49] ktrysmt commented on #142
Looks good. https://github.com/DataDavD/go-bitbucket/commit/421c90846f7dc8a3aae735a933dc357088133466
Did you test the behavior of the code? @DataDavD

[2021-06-29 08:21] DataDavD commented on #142
hey @ktrysmt sorry for the delayed response. Been busy since I just changed teams/roles at my company couple weeks ago. I haven't been able to test the code yet, but I will be testing and tweaking it this week. I believe I should be able to submit a PR by the end of this week, but may be the start of next week since we have a holiday weekend this coming weekend. I'll send you the updated branch an

[2021-06-30 07:41] DataDavD opened #144 "Invalid type assertion issues for Branch Restrict Tests"
When trying to test the repo received this error (two times) failing the test build
`invalid type assertion: res.(map[string]<inter>) (non-interface type *bitbucket.BranchRestrictions on left`

It appears to be caused by changing the return type of `BranchRestrictions.Create()` method; completed during this [PR merge](https://github.com/ktrysmt/go-bitbucket/pull/129/files). It was interface{} befo

[2021-06-30 12:45] ktrysmt commented on #144
I see. I think that's better idea.
I'll review the DiffStat PR. @DataDavD

[2021-06-30 12:54] ktrysmt commented on #142
`go test` isn't a mandatory procedure but it's important for the project.
But the Branch restriction tests isn't related directly.
Because, I would like to wait to submit the PR by you.

And also, I'll glad whether you fix the BranchRestrictionTests. @DataDavD

[2021-07-05 00:28] DataDavD opened #146 "BranchRestrictions Create and Get should not return BranchRestrictions"
hey @ktrysmt I took a further look at https://github.com/ktrysmt/go-bitbucket/issues/144 and it seems like the BranchRestrictions Create and Get methods need a little work as well. I got rid of the unneeded interface type assertion for the Create tests (since it no longer returns an interface testing a type is redundant given compilation checks types for us) but still had issues with nil pointer d

[2021-07-05 02:10] ktrysmt commented on #144
Thank you for your analysis and consideration. And I'm grad if you do it. @DataDavD

[2021-07-05 02:23] ktrysmt commented on #142
done #145

[2021-07-05 02:23] #142 closed

[2021-07-07 06:37] DataDavD commented on #144
Great I will definitely work on this. I also made another issue/thread about a similar thing. I intend to work on that as part of this work as well.

Also, for clarity, I intend to contribute much more to this great project. Happy to help anywhere you need help. I would love to help mock up the API response for tests so that the testing is more robust. Also happy to help with improved response dec

[2021-07-09 10:29] leodamasceno commented on #87
+1

[2021-07-15 10:38] oogali commented on #144
Created PR #147 to resolve this issue and resolve the failing tests.

[2021-07-15 17:05] DataDavD commented on #146
Update/FYI I'm currently working on PR to fix this issue, so please no one duplicate this work. PR should be ready this weekend.

[2021-07-15 23:55] #144 closed

[2021-07-16 04:14] tyler-domitrovich opened #150 "Support For Limiting Auto-Pagination Depth"
It would be nice to be able to limit how many pages of results are returned. Consider the case where we want to retrieve the most recent 20 commits for the main branch of a very active repository. Currently, the auto-pagination will recurse through all pages of results which is time consuming and unnecessary since we would have all of the results we require for this example after the first couple

[2021-07-16 05:10] tyler-domitrovich commented on #150
FYI I was able to get a rough pass of this behavior working in my fork here:

https://github.com/tyler-domitrovich/go-bitbucket/tree/adjustable-pagination-depth

If you have any interest in this feature let me know and I will create a PR.

[2021-07-17 00:28] oogali opened #151 "Why use mapstructure.Decode?"
The decoding of the Atlassian API responses is primarily done using `mapstructure.Decode`.

Is there a compelling reason to use this instead of `json.NewDecoder`?

[2021-07-17 00:30] oogali opened #152 "Can `Repositories.Webhooks.Gets` be renamed?"
The function for retrieving a list of repository web hooks is named `Gets`.

To make the function's name more idiomatic, can it be renamed to `List`?

[2021-07-18 06:26] ktrysmt commented on #152
That's right. I think so too.

[2021-07-18 06:32] ktrysmt commented on #151
@oogali  When the module used, remapping the response from json to structure is confused. There were many `map[string]interface{}` or `map[interface{}]interface{}` on the codes and we had a hard time to mapping json responses to some structs. So a contributor proposed use to this.

[2021-07-18 11:55] oogali commented on #151
That makes sense.

Would you have any interest in me modeling out the structs according to the Bitbucket API so that one could use the standard library JSON marshaling functions?

[2021-07-19 03:03] DataDavD commented on #151
For what it's worth I would highly appreciate something like that @oogali. Seems like if we have it modeled it's be way easier to Marshall/Unmarshall everything into place, no? Versus ranging through all the map[]interface{}'s.

I'd be happy to help you wherever you want as well.

[2021-07-19 03:42] ktrysmt commented on #151
Previously, bitbucket (atlassian) team was often change some api responses and each of field types without notice. Because I had decided not to align the structs with the api responses and fields. Keeping it maintained is very painstaking, I thought.

Recently, I feel that the structure of the api responses has become stable, so it may be okay to create structures of responses. But all of the resp

[2021-07-19 05:23] DataDavD commented on #151
Those are good points and I definitely know what you mean; I agree. Tbh it's not really a burden to parse the returned struct for any specific nested info one may need. This is probably a case where it's best to write no code.

[2021-07-19 08:46] ktrysmt commented on #150
Umm.. `DEFAULT_PAGE_LENGTH` is not enough?

[2021-07-19 17:32] tyler-domitrovich commented on #150
I don't believe so. It looks like `DEFAULT_PAGE_LENGTH ` is used to set `pagelen`, which does allow us to change the number of results returned per page, but does not allow us to change the number of pages returned so we still will recurse through every page of results available.

[2021-07-19 21:19] oogali commented on #151
I've used [segmentio/encoding](https://github.com/segmentio/encoding) in projects where I needed to maintain high performance of encoding/decoding JSON with limited resource usage.

I haven't benchmarked it against a `map[string]interface{}` type. But while I imagine the performance of decoding into a map may be faster, all of that performance is lost in copying data or "re-marshaling" the data in

[2021-07-20 13:32] ktrysmt commented on #150
Certainly. If you have a large number of pages, it may be important to limit the number of pages.
By the way, [POC] [1] smells a little buggy. I think we can make the changes a little smaller.

[1]: https://github.com/tyler-domitrovich/go-bitbucket/tree/adjustable-pagination-depth

[2021-07-22 19:32] DataDavD opened #153 "Combine Brach and Tag Options"
Currently Branches and Tags have separate Options structs although they are essentially the same endpoint. RepoBranchesOptions is only different from RepoTagsOptions in that it possess a `BranchName` field as shown here https://github.com/ktrysmt/go-bitbucket/blob/dd207502d8275183cfd0d771d074c771af9ae1ce/bitbucket.go#L202

I propose that we combine the repo branches and tag option structs into a s

[2021-07-22 21:07] DataDavD commented on #153
For references we could possible include another field inside the Options struct that is a boolean for determining whether or not the `refoptions` describes a branch or tag so that it handles easily the funcs for the GetBranch or GetTag (GetTag to be added as part of the PR to resolve this issue if you approve @ktrysmt )

[2021-07-22 21:09] DataDavD opened #154 "Add DeleteTag, DeleteBranch, CreateTag, and CreateBranch functions"
I noticed that `go-bitbucket` doesn't have functions/methods for Deleting Tags/Branches and Creating Tags/Branches. I wanted to work on adding these functions after the PR for [issue 153](https://github.com/ktrysmt/go-bitbucket/issues/153) is complete.

If you approve/agree for this change, then can you please assign this issue to me @ktrysmt, please. Like issue 153 I've already started working on

[2021-07-23 02:23] ktrysmt commented on #154
That's right and thank you. This doesn't have these. I'll wait your contribution! @DataDavD

[2021-07-23 02:27] ktrysmt commented on #153
Exactly, these options are duplicated likely. It seems a good idea. @DataDavD

[2021-07-23 11:16] ktrysmt commented on #151
Would you please try to writing a POC or a benchmarking code? I am a little interest.

[2021-07-23 11:19] ktrysmt commented on #146
Yes, it seems a good idea. I want to try to see a POC or PullRequest about it.

[2021-07-23 15:53] DataDavD commented on #153
Ok great I'll start on it.

Can you please assign me to this issue

[2021-07-23 15:54] DataDavD commented on #154
Ok great. Thank you very much @ktrysmt. Can you please assign me to this issue.

Thank you!!!

Best,
dd

[2021-08-16 20:02] btsteve commented on #87
I am willing to help but i am still a novice at go.

[2021-09-12 22:26] zahiar opened #157 "Boolean values are not decoded correctly on Project calls"
When creating or getting a project, I found that the `decodeProject` method, specifically `mapstructure.Decode(project, &projectEntry)` isn't correctly decoding `is_private` - it will always decode to `false`, even though the value returned by the API is `true.

project.go:105
[code]

[2021-09-12 22:43] zahiar commented on #157
Looks like the issue lies within the `Project` struct.

Renaming `IsPrivate   bool` to `Is_private   bool` fixes the issue, as the API returns `is_private`.
[code]

[2021-09-12 23:44] zahiar commented on #157
Found a similar issue with `Repository` and its `ForkPolicy`, changing it to `Fork_policy` made it work (tested locally).

repository:go:18
[code]

[2021-09-14 00:36] #157 closed

[2021-09-28 06:27] isindir opened #160 "Creating repository example"
Hi @ktrysmt ,

I need to create a repository, I find it difficult to understand how to do that with provided library.

I can authenticate, then I can list repositories, but in order to create repository I need to use another repository object which has `c` member as `*Client`. If I don't have any repositories in account - how can I create one ? Also, as `Repository.c` is not exported I can't creat

[2021-09-28 09:52] ktrysmt commented on #160
Hmm, I'lll check and consider about it. Thanks @isindir

[2021-09-28 11:07] ktrysmt commented on #160
Example is there.

[code]
The structure with repositories in repositories may be a little confusing. In the old api specifications, the operation of a repository was defined under repositories. So I fixed the struct structure according to the api structure.

And then, is it unified with repositories / {project} / {repo} now? It seems.

[2021-09-28 19:11] isindir commented on #160
@ktrysmt Thank you for explanation. I see now, I didn't found that passtrough and it feels bit different from typical golang libraries. Gitlab and github for example are more or less centric around client object. May be it's worth mentioning this example in a readme as it is the only documentation available as well. Closing this issue.

[2021-09-28 19:11] #160 closed

[2021-09-29 01:00] ktrysmt commented on #160
@isindir  You're right. However, if we suddenly change the behavior of the client, it will have a big impact on some users, so I would like to think a little about how to solve it. For the time being, I will write it in the readme. Thank you.

[2021-10-02 13:27] #87 closed

[2021-11-02 12:41] ktrysmt opened #165 "n"

[2021-11-04 16:10] #165 closed

[2021-11-05 18:23] DataDavD opened #166 "Add DiffStat functionality to remove certain fields from response"
With a recent change to the API, you can now remove certain response fields from the DiffStat API. For example you can include the query parameters: `?fields=-values.lines_added,-values.lines_removed` to remove those fields the API returns.

It would be nice to have this functionality added to the `DiffStat` method.

@ktrysmt can you please assign this issue to me. I have already started working o

[2021-11-08 03:28] ktrysmt commented on #166
Good information. I agreed it.

Thank you @DataDavD

[2021-11-17 14:22] #166 closed

[2021-11-22 09:49] zaalgol opened #173 "Creating a Repo in bitbucket cloud fails with 400 code"
I am using github.com/ktrysmt/go-bitbucket pkg for creating a repo in our bitbucket cloud.

Getting an existing repo works OK:

[code]

But creating a new one just returns 400 - Bad request, with no more details.
[code]

[2021-11-26 00:57] ktrysmt commented on #173
Thank you for your report. I will check it.

[2021-11-27 11:46] ktrysmt commented on #173
Hi, @zaalgol

### 1. Permission

Did you create app-password or api-token with adding permisison of "project"?
400 is defined that "or if the caller lacks the privilege to create repositories under the targeted account" by them.

### Inbalid body

Perhaps your project key is invalid.
Project key is required only uppercase letters and numbers with fewer characters, no symbols included.
You can know

[2021-12-02 15:48] cyrilc-pro opened #174 "Do not os.Exit"
I can see several calls to `os.Exit` (e.g. in webhooks.go when marshalling a JSON payload). `os.Exit` should never be called for this library to be usable in a server.

Possible fixes:
* Let the error bubble up (preferred, in my opinion)
* Use `panic` instead of `os.Exit`

[2021-12-03 05:08] #174 closed

[2021-12-03 07:02] #173 closed

[2021-12-12 19:36] soult opened #176 "Allow fetching of PipelineConfig"
Currently there is only an `UpdatePipelineConfig` method. However, for certain use cases, it would be useful to know the current state of the pipeline configuration.

[2021-12-13 15:00] #176 closed

[2022-01-03 19:17] 6543 opened #179 "Use CI to run tests and lint"
- ensure code is formatted properly
- catch buts fast

[2022-01-04 08:33] Bhogayata-Keval opened #180 "Does the package contain any method to listen to the events and parse the hooks ?"
Does the package contain any method to listen to the events and parse the hooks ?

[2022-01-06 09:35] arnestorksen commented on #180
I was looking for the same and found this:
https://github.com/go-playground/webhooks

[2022-01-07 05:03] Bhogayata-Keval commented on #180
Thanks, @arnestorksen, that worked for me ! I was hoping if they also add this functionality here.. so that we don't have to use a different SDK for parsing !

[2022-01-12 01:05] ktrysmt commented on #180
@Bhogayata-Keval  @arnestorksen
I will consider.
You can also use the suggested library. https://github.com/go-playground/webhooks
Thank you.

[2022-01-12 01:06] ktrysmt commented on #180
Reference: https://developer.atlassian.com/cloud/bitbucket/rest/api-group-webhooks/#api-hook-events-get

[2022-01-21 20:14] soult opened #181 "Repositories.ListForTeam tries to deserialize raw stream"
In `repositories.go`, the `ListForTeam` method calls the `Client.executeRaw`, most likely due to an oversight in PR #88. This means that any calls to this function will fail, which went undetected since this function and `ListForAccount` perform the same function, and we don't have any tests for it.

[2022-01-25 09:57] #181 closed

[2022-02-24 22:59] drewmoseley opened #184 "Error running list_test"
I'm trying to use [gickup](https://github.com/cooperspencer/gickup) with my bitbucket account and was having an issue getting it to authenticate properly. I pulled this repo down and attempted to run the `tests/list_test.go` test and get the following:
`
$ env | grep BITBUCKET
BITBUCKET_TEST_REPOSLUG=drewmoseley/blink
BITBUCKET_TEST_OWNER=drewmoseley
BITBUCKET_TEST_USERNAME=drewmoseley
BITBUCKET_T

[2022-02-25 08:32] ktrysmt commented on #184
@drewmoseley  `./tests/list_test.go` is listing your all repos under the owner.
Therefore, I think it is correct to put only `drewmoseley` in the `BITBUCKET_TEST_REPOSLUG`.

[2022-02-25 13:49] drewmoseley commented on #184
That doesn't help. I still seem to lock up when authenticating with the server.

[2022-02-25 14:14] drewmoseley commented on #184
Interestingly I created a new account with a different email address and that one works.

[2022-02-25 16:23] drewmoseley commented on #184
OK. I instrumented the code a bit and what appears to be happening is that [this for loop](https://github.com/ktrysmt/go-bitbucket/blob/84368c408b988bf38d83be55166737c9c1cbf6f5/client.go#L322) is never exiting. I have about 3 pages of repo when I view it with the web UI.

[2022-02-27 12:44] ktrysmt commented on #184
Oh it is wrong to put yourname in reposlug, the ENV is ignored in the list_test.go.

[2022-02-27 12:51] ktrysmt commented on #184
the for-loop is for pagenation. Perhaps the `/repositories` api's pagenate is only different from others.

[2022-02-27 22:17] drewmoseley commented on #184
Yeah, that was my expectation. I'm not a Golang programmer nor do I know the bitbucket API so I can't spot anything obviously wrong here.  I do see the first time through the loop `responsePaginated.Next` is pointing at `https://api.bitbucket.org/2.0/repositories/drewmoseley?page=2` but even the `doRawRequest` and the JSON `Decode`, the Next value is unmodified.

I grabbed a python sample and it d

[2022-03-04 15:02] drewmoseley commented on #184
I've spent some more time digging here and I just cannot understand why pagination is not working here.  Using curl returns page 3 as expected:
[code]

but for some reason the pagination code gets stuck on page 2.  When `responsePaginated.Next` points to page 2, and the new request is created, executed, and the response decoded, `responsePaginated.Next` is unchanged.  Any thoughts?

[2022-03-11 09:13] #184 closed

[2022-03-12 10:45] moose56 opened #189 "Question about Client.Auth"
Hi, is there any way to access the Client.Auth values?

I want to use the token to create a url to clone a repository using an access token as described [here](https://developer.atlassian.com/cloud/bitbucket/rest/intro/#repository-cloning). But there does not appear to be any way of accessing the token value.

Am I missing something obvious, or is this just not possible?

[2022-03-15 03:57] ktrysmt commented on #189
@moose56
If you already have the token, you may be able to use bashAuth.
[code]

[2022-03-15 04:13] ktrysmt commented on #189
@moose56  You may be able to use it;
[code]

[2022-03-15 07:59] moose56 commented on #189
@ktrysmt that is ideally what I want to do but token is not public.

Is a specific decision to never expose it to users of the Client or could access to this property (and other auth properties) be added in the future?

[2022-03-16 08:11] ktrysmt commented on #189
Oh that's right, the field is private. It would be good to implement a getter or a public field.

[2022-03-16 08:17] ktrysmt commented on #189
@moose56  I wrote a getter to extract the token struct as a trial, so please try to see if it meets your expectations.
https://github.com/ktrysmt/go-bitbucket/pull/190/commits/490ee37c481f10540018f1fcfcdfeacbc950a4a5

[2022-03-16 18:39] moose56 commented on #189
Hi, that is exactly what I needed. Thank you for even creating the pull request for me!

[2022-03-16 18:39] #189 closed

[2022-03-29 01:43] maxbrunet commented on #96
FYI [BCLOUD-17601](https://jira.atlassian.com/browse/BCLOUD-17601) has been closed :tada:

[2022-04-07 12:41] adamconnelly commented on #184
I've just taken a look at this, and the fix isn't quite right (and actually breaks paging in certain circumstances). The real issue is that the `responsePaginated` variable is being reused for each request, and the json deserialization doesn't empty out properties that aren't present in the response: https://github.com/ktrysmt/go-bitbucket/blob/master/client.go#L339

So the actual fix is to just a

[2022-04-14 23:38] eduardodicarte opened #193 "Merge Check with approvals"
How do I set BranchRestrictions with merge checks, to allow merge only after 2 approvals?

[2022-04-15 09:53] #193 closed

[2022-05-06 05:21] hkailantzis opened #198 "error: unsupported protocol scheme for Pipelines.List(opt)"
Hi there,

Thanks very much for the repo. I'm relatively new to GoLang, and wondering what could be the problem when trying to list the pipelines for a repo. _PullRequests.Gets()_ methods or _Repository.GetFileBlob_ works fine for me. So, I'm wondering if something else missing with the URL bit of _Pipelines.list()_ call: ->

https://github.com/ktrysmt/go-bitbucket/blob/master/pipelines.go#L14

Er

[2022-05-11 02:46] ktrysmt commented on #198
Hmm, I'll check it out. Thank you for the report.

[2022-05-11 12:14] hkailantzis commented on #198
Thanks @ktrysmt, that's great.

[2022-05-12 11:17] Zermond commented on #150
Hello!

Maybe we can be use my PR for this issue?

it small and won't break the old code

https://github.com/ktrysmt/go-bitbucket/pull/199

[2022-05-24 15:42] giladhseek opened #202 "Can't specify max depth when listing files"
When using the [Get file or directory contents](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-source/#api-repositories-workspace-repo-slug-src-commit-path-get) endpoint there is an option to send the `max_depth` parameter which specifies the depth level of the returned response.
Right now, the `ListFiles` function doesn't accept it and it's an important parameter because without i

[2022-05-24 15:45] giladhseek opened #203 "Unable to get file content"
Bitbucket API enables getting a file content with the [Get file or directory contents](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-source/#api-repositories-workspace-repo-slug-src-commit-path-get) endpoint.
Right now, there's only the `ListFiles` function which uses this endpoint but doesn't handle the response correctly when it calls the endpoint with a file and not a directory

[2022-05-25 01:01] #202 closed

[2022-05-25 01:04] #203 closed

[2022-06-01 10:11] finiteinfinity opened #206 "Ability to trigger new pipelines"
Bitbucket's API supports triggering new pipelines ([see docs](https://developer.atlassian.com/cloud/bitbucket/rest/api-group-pipelines/#trigger-a-pipeline-for-a-branch)). Are there any plans for that to be added here? I am happy to contribute this if it's not already in the works.

[2022-07-04 07:27] hkailantzis commented on #198
@ktrysmt, any info/feedback if its possible to fix this ? Thanks in advance!

[2022-07-23 22:27] zahiar opened #213 "Add support for managing user & group permissions on repositories"
Bitbucket has released (back in May 2022) new Bitbucket Cloud 2.0 API endpoints for managing users and groups permissions on repositories.

Blog article here: https://developer.atlassian.com/cloud/bitbucket/new-repo-permission-apis/

Be great if we could get this implemented & no more having to deal with version 1.0 of their API 🙌

[2022-08-14 18:00] eclipseo opened #216 "fmt.Errorf call has more than one error-wrapping directive %w"
When testing the latest version with Go 1.19 on Fedora Rawhide x86_64:

[code]

[2022-08-24 07:26] ferrandinand commented on #213
I have just created a PR in order to include this feature, let's see if it is all fine

[2022-09-22 13:18] toneill818 commented on #152
This issue can be closed. With v0.9.52 a List function was added for webhooks.

[2022-09-22 13:58] #152 closed

[2022-09-22 15:29] toneill818 opened #224 "Generate Client Using Swagger"
Since BitBucket provides a swagger document, we could generate the client using swaggers code gen. This would be a rewrite of the whole code base. Would this be something you are interested in?

[2022-09-24 16:07] #213 closed

[2022-11-12 01:01] Jamess-Lucass commented on #224
I was interested in this as well. While I haven't spent much time on it I have encountered some errors while generating `typescript` and `go` sdks for https://bitbucket.org/api/swagger.json.

To generate the code I am running
[code]

Every time this command is run it seems to regenerate a lot of the code and swap types round. Sometimes it was added new files.

If you are interested, this is how to

[2022-11-12 01:20] Jamess-Lucass commented on #198
@hkailantzis I know this is an old issue but the method is `.Gets()` and not `.List()`

I am using [v0.9.54](https://github.com/ktrysmt/go-bitbucket/releases/tag/v0.9.54)

The following code works for me:
[code]

[2022-11-12 01:30] Jamess-Lucass commented on #198
@hkailantzis I am aware this is an old issue but are you still able to replicate the issue?

I am on using version [v0.9.54](https://github.com/ktrysmt/go-bitbucket/releases/tag/v0.9.54) and I am unable to replicate

[2022-11-30 12:43] hkailantzis commented on #198
@Jamess-Lucass , is working it seems now, not sure what was the problem. closing this, thanks!

[2022-11-30 12:43] #198 closed